* {
  box-sizing: border-box;
  text-align: center;
  margin: 0 auto;

}

body {
  background: Gainsboro;
}

main {
  max-width: 960px;

  div.welcome {
    background-color: Gainsboro;
    width: 40%;
    margin: 100px auto;
    padding: 40px;

        & .welcometext {
          padding: 30px 0;
        }
        & .modechange {
          width: 40px;
          margin: 10px auto;
        }
        & button {
          padding: 10px;
          background-color: lightblue;
          border-style: solid;
          width: 90px;
        }
        & .choice {
          text-align: left;
          width: 50%;
        }
        & span {
          float: right
        }
  }
}



.first {
  width: 300px;
  height: 300px;
  border-radius: 300px;
  background-color: crimson;
  position: absolute;
  left: 350px;
  top: 130px;
}

.hidden{
  display: none;
}

.second {
  width: 320px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


#boxOne, #boxTwo, #boxThree {
  width: 300px;
  height: 20px;
  background-color: DarkSlateGray;
  margin: 10px;
}

.trianglewrapper{
  width: 320px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.third {
	position: fixed;
	background-color: orange;
	text-align: left;
  top: 100px;
}
.third:before,
.third:after {
	content: '';
	position: absolute;
	background-color: inherit;
}
.third,
.third:before,
.third:after {
	width:  10em;
	height: 10em;
	border-top-right-radius: 30%;
}

.third {
	transform: rotate(-60deg) skewX(-30deg) scale(1,.866);
}
.third:before {
	transform: rotate(-135deg) skewX(-45deg) scale(1.414,.707) translate(0,-50%);
}
.third:after {
	transform: rotate(135deg) skewY(-45deg) scale(.707,1.414) translate(50%);
}

.fourth {
  position: absolute;
  left: 100px;
}

.dot {
  height: 20px;
  width: 20px;
  border-radius: 100%;
  background-color: black;
  margin: 30px;
}

.fifth {
  width: 960px;
  height: 960px;
  background-color: white;
  position: absolute;
  z-index: -1;
}


/* The switch - the box around the slider */
.switch {
  position: relative;
  display: block;
  width: 40px;
  height: 24px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .3s;
  transition: .3s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
