* {
  box-sizing: border-box;
  text-align: center;
  margin: 0 auto;
  font-family: 'Oxygen', sans-serif;
  text-transform: lowercase;
  font-weight: 100;
}


  body {
    background: Gainsboro;
  }
    main {
      width: 100%;

      .splash {
        max-width: 90%;
        width: 800px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-size: 30px;

          div.welcome {
            float: left;
            width: 50%;
            padding: 0 15px;

                & .welcometext {
                  width: 100%;
                  padding: 40px 0;
                  margin: 5px;
                }
                & h1 {
                  color: #DC143C;
                  text-align: center;
                }
                & p {
                  padding: 0 20px;
                }
                & .modechange {
                  width: 20%;
                  margin: 15px auto;
                }
                & .choice {
                  text-align: center;
                  width: 100%;
                }
                & span {
                  color: #DC143C;
                  margin-left: 10px;
                }
          }
        .instructions {
          float: right;
          padding: 30px 20px;
          width: 50%;

        }
      }

      button {
        padding: 15px;
        background-color: white;
        border: 1px solid transparent;
        border-radius: 10px;
        width: 132px;
        font-size: 20px;
        margin: 8px;
      }
      .number {
        display: none;
      }

      .first {
        width: 420px;
        height: 420px;
        border-radius: 400px;
        background-color: #DC143C;
        position: absolute;
        left: 60%;
        top: 40%;
        z-index: -1;
      }

      .second {
        width: 470px;
        position: absolute;
        top: 27%;
        left: 40%;

        & .box {
          width: 450px;
          height: 22px;
          background-color: #0C0A3E;
          margin: 30px;
        }
      }

        .third {
        	background-color: #FFA630;
        	text-align: left;
          width: 430px;
          position: absolute;
          top: 20%;
          left: 1%;
        }

        .third:before,
          .third:after {
          	content: '';
          	position: absolute;
          	background-color: inherit;
          }

        .third,
          .third:before,
            .third:after {
            	width:  20em;
            	height: 20em;
            	border-top-right-radius: 30%;
            }

        .third {
        	transform: rotate(-60deg) skewX(-30deg) scale(1,.866);
        }

          .third:before {
          	transform: rotate(-135deg) skewX(-45deg) scale(1.414,.707) translate(0,-50%);
          }
          .third:after {
          	transform: rotate(135deg) skewY(-45deg) scale(.707,1.414) translate(50%);
          }

        .fourth {
          position: absolute;
          left: 20%;
        }

          .dot {
            height: 26px;
            width: 26px;
            border-radius: 100%;
            background-color: #17BEBB;
            margin: 40px;
          }

        .fifth {
          width: 100%;
          height: 100%;
          background-color: white;
          position: absolute;
          z-index: -1;
        }

        .sixth {
            width: 0;
            height: 0;
            padding: 0;
            margin: 0
        }


          .line2 {
              width: 1000px;
              height: 1000px;
              border-bottom: 5px solid #3C91E6;
              -webkit-transform:
                  translateY(20px)
                  translateX(5px)
                  rotate(-26deg);
              position: absolute;
              top: -380px;
              left: 300px;
          }


        .seventh {
          width: 3%;
          height: 100%;
          position: absolute;
          left: 30%;
          border-radius: 5px;
          background-color: #7C9EB2;
          z-index: -1;
        }


        .eighth {
          height: 120px;
          width:: 120px;
          border-radius: 100%;
          position: absolute;
          top: 10%;
          right: 20%;
          background-color: #A01A7D;
          z-index: 1;
        }


      // everything below is the switch slider for the mode change
      /* The switch - the box around the slider */
      .switch {
        position: relative;
        display: block;
        width: 40px;
        height: 24px;
      }

      /* Hide default HTML checkbox */
      .switch input {display:none;}

      /* The slider */
      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
      }

      .slider:before {
        position: absolute;
        content: "";
        height: 16px;
        width: 16px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .3s;
        transition: .3s;
      }

      input:checked + .slider {
        background-color: #2196F3;
      }

      input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
      }

      input:checked + .slider:before {
        -webkit-transform: translateX(16px);
        -ms-transform: translateX(16px);
        transform: translateX(16px);
      }

      /* Rounded sliders */
      .slider.round {
        border-radius: 34px;
      }

      .slider.round:before {
        border-radius: 50%;
      }
      .endgame {
        position: absolute;
        left: 80%;
        Top: 90%;
        transform: translate(-50%, -50%);
      }
      .numberDisplay {
        position:absolute;
        font-size: 500px;
        left: 50%;
        Top: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        color: rgba(0, 0, 0, 0.2);
      }
      .feedback {
        font-size: 40px;
        width: 300px;
        position: absolute;
        z-index: 1;
        left: 50%;
        Top: 50%;
        transform: translate(-50%, -50%);
      }
      .hidden {
        display: none;
      }
      .hiddener {
        display: none;
      }

    }


@media only screen and (max-width: 767px) {
  main .splash {
    max-width: 90%;
    padding: 10px;
  }

  main .splash div.welcome {
    float: none;
    width: 90%;
  }
  main .splash div.welcome {

    & h1 {
      font-size: 45px;
    }

    & .choice {
      font-size: 24px;
    }
  }
  main .splash div.instructions {
    float: none;
    font-size: 18px;
    width: 90%;
    padding: 10px;
  }

  main .number {
    display: block;
    position: relative;
    float: left;
    overflow: visible;
    width: 45%;
    height: 150px;
    background-color: Gainsboro;
    opacity: 0.05;
    font-size: 70px;
    z-index: 3;
    &.hidden {
      display: none;
    }
  }
  main .sixth .line2 {
    top: -500px;
    left: -400px;
  }

}
